/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Colours */

:root {
  --vermillion: #ed3833;
  --xanthous: #f3b743;
  --dim-gray: #616163;
  --black: #010101;
  --white: #fefefe;
  --picton-blue: #44aee2;
}

/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', serif;
  background-color: var(--white);
  color: var(--dim-gray);
  line-height: 1.6;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', serif;
}

/* Hero Section */
.hero {
  background-color: var(--picton-blue);
  color: var(--white);
  padding: 80px 0;
  margin-bottom: 40px;
}

.hero h1 {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.25rem;
  margin-bottom: 30px;
}

.hero h1, .hero p {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

/* Navbar */
.navbar {
  background-color: var(--black);
}

.navbar .navbar-brand img {
  width: 100px;
}

.navbar-nav .nav-link {
  color: var(--white);
  font-weight: 700;
}

.navbar-nav .nav-link:hover {
  color: var(--xanthous);
}

.navbar-nav .nav-link.active {
  color: var(--xanthous)}

/* Card Styles for Movies and TV Shows */
.card-item {
  border: none;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;

}

.card-item:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  transform: scale(1.05);
}

.card-item img {
  height: 416px;
  border-bottom: 2px solid var(--picton-blue);
  object-fit: cover;
}

.popular-movies .card-body,
.popular-shows .card-body,
.recommendations .card-body {
  height: 100px;
}

.search-results .card-body {
  height: 240px;
}

.card-title {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--black);
  margin-top: 10px;
}

.search-results a {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.page-item .page-link {
  background-color: var(--xanthous);
  color: var(--black);
  border: none;
  margin-right: 3px;

}

.page-item .page-link:hover {
  background-color: var(--vermillion);
  color: var(--white);
}

.page-item.active .page-link {
  background-color: var(--picton-blue);
  color: var(--white);
}

/* Footer */
.footer {
  background-color:var(--black);
  padding: 20px 0;
}

.footer p {
  font-size: 1rem;
  color: var(--white);
  margin: 0;
}

/* Breadcrumb */
.breadcrumb-item a {
  color: var(--picton-blue);
}

.breadcrumb-item a:hover {
  text-decoration: underline;
}

/* Toast Notifications */
.toast {
  border-radius: 10px;
  padding: 20px;
  color: var(--white);
  font-weight: 600;
}

.toast-header {
  background-color: var(--picton-blue);
  color: var(--white);
}

.toast-body {
  background-color: var(--dim-gray);
  padding: 15px;
}

/* Forms */
/* Form Inputs */
.form-control {
  border-radius: 5px;
  border: 2px solid var(--dim-gray);
}

.form-control:focus {
  border-color: var(--vermillion);
  box-shadow: 0 0 5px var(--vermillion);
}

select.form-control {
  cursor: pointer;
}

.vote-average {
  font-size: 32px;
  color: var(--vermillion);
  font-weight: 900;
}

/* Review section */
.star {
font-size: 2rem;
color: var(--dim-gray);
cursor: pointer;
}

.one {
color: rgb(255, 0, 0);
}

.two {
color: rgb(255, 106, 0);
}

.three {
color: rgb(251, 255, 120);
}

.four {
color: rgb(255, 255, 0);
}

.five {
color: rgb(24, 159, 14);
}

.submit-btn {
  margin: 10px;
}

.review-form p,
.reviews p {
  margin: 0;
}

/* Authentication pages (login, logout, signup) */

/* Centring and Card Styling */
.auth-container {
  min-height: 80vh;
}

.auth-card {
  margin: 30px;
}

/* Form Elements */
.login form input[type="text"],
#id_username,
#id_login,
form input[type="email"],
form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid var(--dim-gray);
  border-radius: 6px;
}

/* Buttons */
.btn {
  background-color: var(--vermillion);
  color: var(--white);
  border: none;
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 5px;
}

.btn:hover {
  background-color: var(--xanthous);
  color: var(--white);
  border-color: var(--xanthous);
}

/* Links */
.auth-card a {
  color: var(--picton-blue);
  text-decoration: none;
}

.auth-card a:hover {
  text-decoration: underline;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .hero {
      padding: 60px 0;
  }

  .hero h1 {
      font-size: 2rem;
  }

  .card-item {
      margin-bottom: 30px;
  }

  .popular-movies,
  .popular-shows {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 10px;
  }

  .popular-movies .col-6,
  .popular-shows .col-6 {
    flex: 0 0 auto;
    width: 45%; 
  }
}

@media (max-width: 576px) {
  .card-item {
    margin-bottom: 20px;
  }

  .popular-movies,
  .popular-shows {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 10px;
  }

  .popular-movies .col-6,
  .popular-shows .col-6,
  .recommendations .col-6 {
    flex: 0 0 auto;
    width: 45%; 
  }
}
