{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1>{{ tv_show.name }}</h1>
    <img src="{% if tv_show.poster_url %}{{ tv_show.poster_url }}{% else %}https://dummyimage.com/500x750/000000/ffffff.jpg&text=No+Image+Available{% endif %}" alt=" {{ tv_show.title }}">
    <p><strong>First Air Date:</strong> {{ tv_show.release_date|date:"Y-m-d" }}</p>
    <p><strong>Description:</strong> {{ tv_show.description }}</p>
    <p><strong>Rating:</strong> {% if tv_show.vote_average %}{{ tv_show.vote_average }}{% else %}No rating yet{% endif %}</p>

    <h3>Reviews</h3>
    {% for review in tv_show.reviews.all %}
    <div class="review">
        <p><strong>{{ review.user.username }}:</strong> {{ review.review_text }}</p>
        <p><strong>Rating:</strong> {{ review.rating }}</p>
    </div>
    {% empty %}
        <p>No reviews yet.</p>
    {% endfor %}
    
    <a href="{% url 'search' %}" class="btn btn-secondary">Back to Search</a>
    <a href="{% url 'homepage' %}" class="btn btn-secondary">Back to Home</a>

</div>
{% endblock %}
